aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.9.0
astroid==3.3.9
black==25.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
Deprecated==1.2.18
dill==0.3.9
docker-pycreds==0.4.0
facenet-pytorch==2.5.3
filelock==3.18.0
fsspec==2025.3.2
get-annotations==0.1.2
gitdb==4.0.12
GitPython==3.1.44
googleapis-common-protos==1.70.0
grpcio==1.71.0
grpcio-tools==1.71.0
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
isort==6.0.1
Jinja2==3.1.6
lightning-utilities==0.14.3
lpips==0.1.4
MarkupSafe==3.0.2
mccabe==0.7.0
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.4.2
numpy==2.2.4
packaging==24.2
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.7
protobuf==5.29.4
psutil==7.0.0
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
PyJWT==2.10.1
pylint==3.3.6
pyrallis==0.3.1
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.3
ruff==0.11.5
scipy==1.15.2
sentry-sdk==2.26.0
setproctitle==1.3.5
setuptools==78.1.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sympy==1.13.1
tomlkit==0.13.2
torch==2.6.0
torchmetrics==1.7.1
torchvision==0.21.0
tqdm==4.67.1
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
wandb==0.19.9
wrapt==1.17.2
yandex-cloud-ml-sdk==0.8.0
yandexcloud==0.340.0
